@page
@model PP_LAB3.Pages.AutoModel
@{
    ViewData["Title"] = "Авторизация";
}
<h3>Авторизация</h3>
<div>
    <p>
        <input type="text" name="fio" placeholder="Укажите e-mail">
    </p>
        <p><input type="text" name="email" placeholder="Укажите пароль">
    </p>
    <input type="submit" class="btn" value="Войти">
</div>
