@page
@model PP_LAB3.Pages.BasketModel
@{
    ViewData["Title"] = "Корзина";
}

<div id="BasketSolution">
    <form method="post">
        <p> <label><h3>Корзина</h3></label></p>
        <p>
         <label>Корзина пуста</label>
        <p>
            <input type="submit" class="btn" value="Оформить заказ" />
        </p>

    </form>
</div>
