@page
@model IndexModel
@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Добро Пожаловать!</h1>
    
    <a class="nav-link text-dark" asp-area="" asp-page="/Menu">
        <img src="https://vkusnoitochka.ru/upload/iblock/ca6/r2hkoi2zokar4eaziojlex3mpbc9u1jr/SITEn_Grands_dec22_1200x400_2_min.jpg" />
    </a>
</div>
