@page
@model PP_LAB3.Pages.MenuModel
@{
    ViewData["Title"] = "Меню";
}

<div id="MenuSolution" >
    
 </div>
 <div class="text-left">
    <div>
        <h1 class="display-4">Меню</h1>
            <div>
                <h3>Бургеры</h3>
                    <div>
                
                <input type="image" class="input" src="https://ma-prod-cdn.mcdonalds.ru/product/c2e3dbdcd89c43b4abeccbbf22099366/android/l/main.png" height="250" width="250" />
                <input type="image" class="input" src="https://ma-prod-cdn.mcdonalds.ru/product/21120d149ebb4b56ab8da25af403456c/android/l/main.png" height="250" width="250" />
                <input type="image" class="input" src="https://ma-prod-cdn.mcdonalds.ru/product/6ec7702dafac48bcb2bffe41cf63a4f4/android/l/main.png" height="250" width="250" />
                    </div>
                <h3>Салаты</h3>
                    <div>
                <input type="image" class="input" src="https://ma-prod-cdn.mcdonalds.ru/product/d9c887f685f9438bb669eb45ddd9a12e/android/l/main.png" height="250" width="250" />
                <input type="image" class="input" src="https://ma-prod-cdn.mcdonalds.ru/product/1ff92f48c33846aaafcab2301b219e6b/android/l/main.png" height="250" width="250" />
                <input type="image" class="input" src="https://ma-prod-cdn.mcdonalds.ru/product/cfef138484364380980456c5ffbfc0b5/android/l/main.png" height="250" width="250" />
                    </div>
                <h3>Напитки</h3>
                    <div>
                <input type="image" class="input" src="https://ma-prod-cdn.mcdonalds.ru/product/10ca0842242049bebaee99d685d1b583/android/l/main.png" height="250" width="250" />
                <input type="image" class="input" src="https://ma-prod-cdn.mcdonalds.ru/product/db3533af37134b7cb2e0428114ee7371/android/l/main.png" height="250" width="250" />
                <input type="image" class="input" src="https://ma-prod-cdn.mcdonalds.ru/product/96977633363a4e94a5045b7b245a60ad/android/l/main.png" height="250" width="250" />
                    </div>

            </div>
    </div>
</div>
