@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p>Все права защищены. Мы никоем образом не копируем сайт Вкусно и точка.</p>
   <p> Разработчики: Нурмиев А. и Гарипов А. </p>
    <p>Группа 4335 Колледж информационных технологий г.Казани
</p>
