@page
@model PP_LAB3.Pages.RegModel
@{
    ViewData["Title"] = "Регистрация";
}
<h3>Регистрация</h3>
<div> 
    <p>
        <input type="text" name="fio" placeholder="Укажите e-mail">
    </p>
    <p>
        <input type="text" name="email" placeholder="Пароль">
    </p>
    <p><input type="text" name="text" placeholder="Повторите пароль"></p>

    <input type="submit" class="btn" value="Отправить">
</div>
