@page
@model PP_LAB3.Pages.SupportModel
@{
    ViewData["Title"] = "Служба поддержки";
}
<div width="200"> 
    <p><input type="text" name="fio" placeholder="Укажите ФИО">
        <input type="text" name="email" placeholder="Укажите e-mail">
    </p>
    <input type="text" name="email" placeholder="Опишите проблему" width="100">
    
    <input type="submit" class="btn" value="Отправить">
</div>

