@page
@model PP_LAB3.Pages.SupportModel
@{
    ViewData["Title"] = "Служба поддержки";
}
<h3>Служба поддержки</h3>
<div width="200"> 
    <p><input type="text" name="fio" placeholder="Укажите ФИО">
        <input type="text" name="email" placeholder="Укажите e-mail">
    </p>
    <p><input type="text" name="text" placeholder="Опишите проблему"></p>
   
    <input type="submit" class="btn" value="Отправить">
</div>

