@page
@model PP_LAB3.Pages.UserModel
@{
    ViewData["Title"] = "Профиль";
}

<div id="UserSolution">
 <form method="post">
    <h3>Профиль</h3>
     <input type="submit" class="btn" value="Авторизация" />
     <input type="submit" class="btn" value="Служба поддержки" />
 </form>
 </div>
 
