@page
@model PP_LAB3.Pages.UserModel
@{
    ViewData["Title"] = "Профиль";
}

<div id="UserSolution">
 <form method="post">
    <h3>Профиль</h3>
        <input type="submit" asp-page="/Auto" class="btn" value="Авторизация" /><br />
        <input type="submit" asp-page="/Reg" class="btn" value="Регистрация" /><br />

        <input type="submit" asp-page="/Support" class="btn" value="Служба поддержки" /><br />
 </form>
 </div>
 
